$width-desktop: 1200px;
$width-tablet: 768px;
$width-mobile: 576px;

$gap-xs: 4px;
$gap-sm: 8px;
$gap-md: 16px;
$gap-lg: 24px;
$gap-xl: 32px;
$gap-xxl: 40px;
$gap-xxxl: 64px;

$border-radius-xs: 4px;
$border-radius-sm: 8px;
