@use "../../../styles/variables.scss" as * ;

.Input {
  min-width: 300px;
  padding: $gap-sm;
  margin-bottom: $gap-sm;
  font-size: 14px;
  border: 1px solid var(--color-card-border);
  border-radius: $border-radius-xs;
}
