@use '../../styles/variables.scss' as * ;

.CommentList {
  margin-left: $gap-md;
  margin-top: $gap-md;

  & .Comment{
    border: 1px solid var(--color-comment-border);
    border-left: 3px solid var(--color-comment-border);
  }
}

@media (max-width: $width-mobile) {
  .CommentList {
    margin-left: 0;
    margin-top: $gap-xs;
  }
}

